:root{
    --vinho:#5C1A1B;
    --dourado:#D4AF37;
    --off:#F7F2EE;
    --preto:#121212;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    overflow-x:hidden;
    background:var(--preto);
    color:var(--off);
    font-family:Arial;
}

section{
    padding:80px 20px;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url('imagens/abertura.jpeg') center/cover;
}

/* BOTÃO */
.btn{
    display:inline-block;
    padding:14px 26px;
    border-radius:30px;
    background:var(--dourado);
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

/* CONTADOR */
.contador-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

/* GALERIA */
.memoria{
    margin:40px auto;
    max-width:700px;
    text-align:center;
}

.memoria img{
    width:100%;
    border-radius:20px;
}

/* TIMELINE */
.timeline{
    max-width:700px;
    margin:auto;
}

.item{
    padding:15px;
    border-left:2px solid var(--dourado);
    margin-bottom:20px;
}

/* CARTA */
.carta{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--vinho);
}

.carta-box{
    max-width:700px;
    width:100%;
    background:rgba(255,255,255,.08);
    padding:25px;
    border-radius:20px;
}

#conteudoCarta{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:.6s ease;
}

#conteudoCarta.aberta{
    max-height:1000px;
    opacity:1;
}

/* FINAL */
.final{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

/* ANIMAÇÃO */
.animar{
    opacity:0;
    transform:translateY(30px);
    transition:.8s;
}

.animar.visivel{
    opacity:1;
    transform:translateY(0);
}

/* TRANSIÇÃO (SEM BUG PRETO) */
#transicao{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    opacity:0;
    visibility:hidden;
    transition:.5s;
    z-index:9999;
}

#transicao.ativa{
    opacity:1;
    visibility:visible;
}